<div class='row'>
	<div class='col-md-3'></div>
		<div id='mitablero' class='col-md-3 tableros'>
			<h3>Usuario 2</h3>
			<table class='table-bordered bg-info' id='tbluser'>
			<?php for($i=1;$i<7;$i++):?>
				<tr>	
				<?php for($j=1;$j<7;$j++):?>
				
					<td><button class='btn-info center-block btnuser' type='button' id='pos-<?=(6*($i-1)+$j)?>' ><?=(6*($i-1)+$j)?></button></td>
				<?php endfor;?>		
				</tr>
			<?php endfor;?>		
				
			</table>
		</div>
		<div id='sutablero' class='col-md-3 tableros'>
			<h3>Usuario 1</h3>
			<table class='table-bordered bg-warning' id='tblmachine'>
				<?php for($i=1;$i<7;$i++):?>
				<tr>	
				<?php for($j=1;$j<7;$j++):?>
				
					<td><button class='btn-warning center-block btnmachine' type='button' id='supos-<?=(6*($i-1)+$j)?>' disabled="disabled"><?=(6*($i-1)+$j)?></button></td>
				<?php endfor;?>		
				</tr>
			<?php endfor;?>

			</table>
		</div>
	<div class='col-md-3'></div>
</div>

<script src='<?php echo base_url()?>js/bn2.js'></script>

<!-- <div class='centrado'>
	<input id='valchannel2' name='valor' type='text' size='4' maxlength='4'>&nbsp;<input id='btnenviar' type='button' value='Enviar'>
</div> -->